@import "tailwindcss";
@import "react-calendar/dist/Calendar.css";
@import "react-datepicker/dist/react-datepicker.css";


.approved-leave {
  background-color: #B9f8cf !important; 
  color: black !important;       
  border-radius: 4px;   
}